head{
  background-color: aqua
}
.container{
  display:flex;
}
h1{
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  font-family: 'Courier New', Courier, monospace;
  background-color: aqua;
}
img{
  display:inline;
}
p{
  display: inline;
  background-color: burlywood
}